@model IEnumerable<DiChoSaiGon.Models.Account>

@{
    ViewData["Title"] = "Account Manager";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="padding-top: 100px;  min-height: 80vh">
    <div class="row">
        <div class="col-md-12">
            <h1>Accounts</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idrole" name="idrole" style="min-width: 180px;" asp-items="ViewBag.RoleId">
                            <option value="0" disabled selected>Roles</option>
                        </select>
                    </div>
                    <div class="m-b-10 m-l-15">
                            <select class="custom-select" id="idstatus" name="idstatus" style="min-width: 180px;" asp-items="ViewBag.IsTrangThai">
                                <option value="" disabled selected>Status</option>
                            </select>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                           ID
                        </th>
                        <th scope="col">
                           Full Name
                        </th>
                        <th scope="col">
                            Email
                        </th>
                        <th scope="col">
                            Phone
                        </th>
                        <th scope ="col">
                            Access Right
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                                @if (item.Active)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-pill badge-success">
                                            Active
                                        </div>
                                    </div>
                                }else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-pill badge-danger">
                                            Block
                                        </div>
                                    </div>
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
                                <a class="btn btn-secondary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.AccountId">Details</a>
                                <a class="btn btn-success btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                            </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>