@model IEnumerable<DigitalApp.Models.BaiViet>

@{
    ViewBag.Title = "DanhSachBaiViet";
    Layout = "~/Views/shared/LayoutUser.cshtml";
    int stt = 0;
}

<div class="container" style="margin-top: 130px; min-height: 80vh">
    <div class="col-md-12">
        <h4>
            Danh Sách Bài Viết
                <a href="~/BaiViet/ThemMoi"style="float: right;">Thêm mới</a>           
        </h4>
        <table class="table">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên Bài Viết
                </th>
                <th>
                    Ngày Viết
                </th>
                <th>
                    Người Viết
                </th>
                <th>
                    Hiển Thị
                </th>
                <th>
                    Loại
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBaiViet)
                    </td>
                    <td>
                        @String.Format("{0:dd-MM-yyy}", item.NgayViet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NguoiViet)
                    </td>
                    <td>
                        <input type="checkbox" @Html.Raw(item.HienThi == true ? "checked" : "") />
                        @Html.DisplayFor(modelItem => item.HienThi)
                    </td>
                    <td>
                        @{ 

                        }
                        @Html.DisplayFor(modelItem => item.LoaiBaiViet.TenLoai)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>