@model IEnumerable<DigitalApp.Models.KhachHang>

@{
    ViewBag.Title = "DanhSachKhach";
    ViewBag.Active = 6;
    Layout = "~/Views/shared/LayoutUser.cshtml";
}

<div class="container" style="margin-top: 130px; min-height: 80vh">
    <div class="col-md-12">
        <h4>
            Danh Sách Khách Hàng
            <a href="~/KhachHang/ThemMoi" style="float: right;">Thêm Mới</a>
        </h4>
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Tên Khách Hàng
                </th>
                <th>
                    Số Điện thoại
                </th>
                <th>
                    Địa Chỉ
                </th>
                <th>
                    Loại khách hàng
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhachHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @* sử dụng lệnh find *@
                        @*@{ 
                            DigitalApp.Models.BanHang_TestEntities db = new DigitalApp.Models.BanHang_TestEntities();
                            var loai = db.LoaiKhachHangs.Find(item.idLoaiKhachHang);
                            if(loai !=null)
                            {
                                <span>@loai.TenPhanLoai</span>
                            }
                        }*@

                        @if(item.LoaiKhachHang != null) 
                        {
                            <span>@item.LoaiKhachHang.TenPhanLoai</span>
                        }
                        
                        
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Xoa", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section script{
    <script>
        var XoaKhachHang = function (id) {
            if (confirm("Bạn có muốn xóa hay không?") == true) {
                location.href='/KhachHang/DanhSachKhach=' + id
            }
        }
    </script>
}

