@model OnlineBookLibrary.Models.Book

@{
    ViewData["Title"] = "Books Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="padding-top: 100px;  min-height: 80vh">
    <div class="row">
        <div class="col-md-12">
            <h1>Detail Books</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    Image
                </dt>
                <dd>
                    <img src="@("~/Image/" + Model.Image)" asp-append-version="true" width="80" height="100px" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Genre.GenreName)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.BookId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>