@model IEnumerable<OnlineBookLibrary.Models.Role>

@{
    ViewData["Title"] = "Index Roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="padding-top: 100px;  min-height: 80vh">
    <div class="row">
        <div class="col-md-12" style="float: right;">
            <h4>
                Roles
                <a asp-action="Create" style="float: right;" class="btn btn-primary"><span>Add Role</span></a>
            </h4>
        </div>
    </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                                <a class="btn btn-secondary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.RoleId">Details</a>
                                <a class="btn btn-success btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
